/* ************************************************************************** */
/*                                                                            */
/*  index.css                                                                 */
/*                                                                            */
/*   By: elhmn <www.elhmn.com>                                                */
/*             <nleme@live.fr>                                                */
/*                                                                            */
/*   Created: Sun Sep 16 17:18:36 2018                        by elhmn        */
/*   Updated: Sun Sep 16 19:56:04 2018                        by elhmn        */
/*                                                                            */
/* ************************************************************************** */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
